* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f5f7fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0a2540;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: linear-gradient(to right, #007bff, #00c6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: white;
  color: #007bff;
  cursor: pointer;
}

.calculator, .apply {
  padding: 40px;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0a2540;
  color: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    height: 60vh;
    padding: 20px;
  }

  input {
    width: 90%;
  }
}